.container {
  align-items: center;
  border: 1px solid black;
  display: flex;
  height: 20rem;
  justify-content: center;
  width: 50rem;
}

.container__item {
  align-items: center;
  display: flex;
  font-size: 1.4rem;
  font-weight: bold;
  justify-content: center;
  height: 10rem;
  width: 10rem;
}

.container__item--01 {
  background-color: red;
  order: 5;
}

.container__item--02 {
  background-color: blue;
  order: 2;
}

.container__item--03 {
  background-color: green;
  order: 3;
}

.container__item--04 {
  background-color: yellow;
  order: 4;
}

.container__item--05 {
  background-color: purple;
  order: 1;
}
