.container {
  align-items: center;
  border: 0.1rem solid black;
  display: flex;
  height: 50rem;
  justify-content: space-between;
}

.container__item {
  border: 0.1rem solid red;
  font-size: 1.4rem;
  font-weight: 700;
}

.container__item--01 {
  background-color: red;
  height: 20rem;
  width: 20rem;
}

.container__item--02 {
  background-color: blue;
  height: 15rem;
  width: 25rem;
}

.container__item--03 {
  background-color: green;
  height: 30rem;
  width: 15rem;
}

.container__item--04 {
  background-color: yellow;
  height: 25rem;
  width: 20rem;
}

.container__item--05 {
  background-color: purple;
  height: 35rem;
  width: 25rem;
}
